<section class="py-20 overflow-hidden">
     <div class="text-center text-white bg-gray-950 py-16 rounded-lg">
    <h1
     data-aos="fade-left"
      data-aos-delay="200"
      class="text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-bold mb-4 humane-bold tracking-tighter lg:tracking-[-8px] "
    >
      Contact
    </h1>
  </div>

</section>

<section class="contact-me py-10 overflow-hidden">
<div class="grid grid-cols-1 md:grid-cols-2 main-bg justify-between">

<div class="text-box py-10 md:pt-20 px-8 ">
    <h1 
    data-aos="fade-down"
    class="humane-bold text-4xl md:text-5xl lg:text-6xl tracking-tight md:tracking-[-6px] py-3">
    Get in Touch
</h1>

<p 
  data-aos="fade-down"
    data-aos-delay="150"
class="text-lg md:text-xl lg:text-2xl py-3 md:max-w-[70%]">
If you are interested in my work or want to provide feedback about this website, I am open to exchanging ideas .
</p>

<div class="social-icons flex flex-row gap-4 px-10 py-2 md:py-6">
    <a
    data-aos="fade-right"
    data-aos-delay="200"
     href="https://www.linkedin.com/in/abdalla-salman-972259290/" class="hover:scale-[1.1] hover:text-gray-950 transition-all">
<i class="fa-brands fa-linkedin text-3xl md:text-4xl lg:text-5xl"></i>

    </a>
<a 
data-aos="fade-right"
    data-aos-delay="400"
href="https://github.com/repos" class="hover:scale-[1.1] hover:text-gray-950 transition-all">
<i class="fa-brands fa-github text-3xl md:text-4xl lg:text-5xl"></i>

</a>
</div>
</div>
<div
data-aos="fade-left"
    data-aos-delay="600"
 class="form-box py-7 px-5">

    <form 
    [formGroup]="formData"
    (ngSubmit)="sendEmail()"
    action="" class="px-7 py-7">
    <label for="" class="flex flex-col py-2 md:py-4 lg:py-6 px-6">
        <span class="nunito-bold text-xl md:text-2xl lg:text-3xl px-2 py-4">
            Name 
        </span>
        <input 
         formControlName="name"
        type="text" class="rounded-2xl border border-transparent px-10 py-4">
    </label>

     <label for="" class="flex flex-col py-2 md:py-4 lg:py-6 px-6">
        <span class="nunito-bold text-xl md:text-2xl lg:text-3xl px-2 py-4">
            Email 
        </span>
        <input
          formControlName="email"
         type="email" class="rounded-2xl border border-transparent px-10 py-4">
    </label>


     <label for="" class="flex flex-col py-2 md:py-4 lg:py-6 px-6">
        <span class="nunito-bold text-xl md:text-2xl lg:text-3xl px-2 py-4">
            Message 
        </span>
        <input 
            formControlName="message"
        type="text" class="rounded-2xl border border-transparent px-7 py-4 h-48">
    </label>

<div class="btn-holder px-8">
    
    <button 
    type="submit"
    class="py-3 cursor-pointer px-10 mx-auto bg-gray-950 
    main-text-color rounded-xl 
    flex justify-center items-center justify-items-center min-w-full">
        
            Send
      
    </button>
</div>
</form>
</div>

</div>
</section>