<nav
  [class.bg-black]="isScrolled"
  [class.shadow-lg]="isScrolled"
  class=" fixed z-[100] w-full z-20 top-0 start-0   mx-auto  py-6 md:justify-items-center"
>
  <div
    class="max-w-screen-2xl flex flex-wrap items-center  mx-auto p-4 "
  >
    <div
      class="inline-flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
    >
    
      <button 
      (click)="toggleMenu()"
      data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm
       text-body rounded-base md:hidden main-text-color hover:bg-black
        cursor-pointer focus:outline-none 
        transition-all"
        
       aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>
    </button>
    </div>  
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 bg-black 
      md:bg-transparent border rounded-base md:border-0"
      id="navbar-cta"
       [class.open]="isOpen"
       [class.hidden]="!isOpen"
    >
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border 
          rounded-base 
           md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 gap-16 "
          
      >
        <li>
          <a routerLink="home" (click)="closeMenu()" routerLinkActive="main-text-color" class="text-white transition-all humane-reg text-md md:text-xl lg:text-2xl">Home</a>
        </li>

        <li>
          <a routerLink="about" (click)="closeMenu()" routerLinkActive="main-text-color" class="text-white transition-all humane-reg text-md md:text-xl lg:text-2xl">About</a>
        </li>

        <li>
          <a routerLink="projects" (click)="closeMenu()" routerLinkActive="main-text-color" class="text-white transition-all humane-reg text-md md:text-xl lg:text-2xl">Projects</a>
        </li>

        <li>
          <a routerLink="contact" (click)="closeMenu()" routerLinkActive="main-text-color" class="text-white transition-all humane-reg text-md md:text-xl lg:text-2xl">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
