<div class="px-6 py-10">
  <section class="hero py-10 pt-20 relative overflow-hidden">
    <span class="back-box text-2xl md:text-3xl lg:text-4xl xl:text-7xl">
      <div
        class="back-text left text-2xl md:text-3xl lg:text-4xl xl:text-7xl flex flex-col items-center"
      >
        <h5>
          junior web developer graduated from computer science frontend
          developer angular developer
        </h5>
        <br />
      </div>
      <div
        class="back-text right text-2xl md:text-3xl lg:text-4xl xl:text-7xl flex flex-col items-center"
      >
        <h5>
          junior web developer graduated from computer science frontend
          developer angular developer
        </h5>
        <br />
      </div>
    </span>
    <div class="content relative z-20">
      <div
        class="text-box main-text-color font-sans flex flex-col items-center"
      >
        <h2
          data-aos="fade-up"
          data-aos-delay="0"
          class="text-xl md:text-2xl lg:text-3xl xl:text-5xl"
        >
          Hey There I’m
        </h2>

        <h1
          data-aos="zoom-in"
          data-aos-delay="300"
          class="name humane-bold text-9xl md:text-[180px] lg:text-[200px] xl:text-[250px]"
        >
          RAKII
        </h1>

        <h2
          class="text-xl md:text-2xl lg:text-3xl xl:text-5xl"
          data-aos="fade-up"
          data-aos-delay="0"
          class="capitalize"
        >
          junior web developer Graduated from Computer Science
        </h2>
        <div
          data-aos="fade-right"
          data-aos-easing="ease-in-sine"
          data-aos-delay="500"
          class="icons flex flex-row gap-6"
        >
          <h2 class="hover:text-white transition-all">
            <a
              class="hover:text-white transition-all"
              href="https://www.linkedin.com/in/abdalla-salman-972259290/"
            >
              <i
                class="fa-brands fa-linkedin main-text-color px-2 py-2 text-3xl md:text-4xl lg:text-7xl hover:text-white transition-all"
              ></i>
            </a>
          </h2>

          <h2 class="hover:text-white transition-all">
            <a
              class="hover:text-white transition-all"
              href="https://github.com/repos"
            >
              <i
                class="fa-brands fa-square-github main-text-color px-2 py-2 text-3xl md:text-4xl lg:text-7xl hover:text-white transition-all"
              ></i>
            </a>
          </h2>
        </div>
      </div>
    </div>
  </section>
  <!--  -->

  <section class="about py-10 relative overflow-hidden">
    <div class="content px-2 border rounded-lg main-bg py-28">
      <h5
        class="text-5xl md:text-6xl lg:text-7xl xl:text-8xl humane-bold text-center mb-6 py-10 tracking-tighter"
      >
        About
      </h5>
      <p
        class="px-6 md:px-10 lg:px-32 leading-7 md:leading-10 lg:leading-13 text-xl md:text-2xl lg:text-3xl xl:text-4xl text-center nunito-reg"
      >
        I am a junior web developer with a passion for creating dynamic and
        responsive websites. I graduated from computer science and have a strong
        foundation in programming languages such as HTML, CSS, JavaScript, and
        Angular. I am eager to learn and grow in the field of web development,
        and I am excited to contribute my skills to a team of like-minded
        professionals.
      </p>
      <div
      data-aos="fade-down-left"
      data-aos-delay="100"
       class="flex justify-end mt-10 px-8">
        <a
          class="btn rounded-2xl px-5 py-3 md:px-10 md:py-5 text-xl md:text-2xl lg:text-3xl xl:text-4xl sans-serif main-text-color bg-cyan-950 hover:text-white transition-all cursor-pointer"
          routerLink="/about"
        >
          More..
        </a>
      </div>
    </div>
  </section>
  <!-- recent projects -->

  <section class="recent py-10 relative overflow-hidden">
    <div
      class="recent-title flex flex-col md:flex-row justify-between items-center mb-10 bg-gray-900 px-7 py-7 text-white rounded-lg"
    >
      <h5
        class="text-3xl md:text-4xl lg:text-5xl xl:text-6xl humane-bold text-center mb-6 py-10 lg:tracking-[-4px]"
      >
        Recent Projects
      </h5>
      <a
        routerLink="/projects"
        class="text-sm md:text-md lg:text-xl xl:text-2xl sans-serif hover:text-amber-50 transition-all"
      >
        See all
        <i
          class="fa-solid fa-right-long fa-fade text-sm md:text-md lg:text-lg xl:text-xl"
        ></i>
      </a>
    </div>
    <div class="content grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 justify-items-center">
      <!-- cards -->

      <!-- card1 -->
      <div
        class="bg-gray-900 block max-w-lg border border-default rounded-lg shadow-xs overflow-hidden"
      >
        <a routerLink="/projects" class="relative">
          <div class="image main-bg flex justify-center items-center">
            <img
              class="rounded-lg bg-contain px-3 py-2"
              src="imags/portfolio-fr (2).png"
              alt=""
            />
          </div>
        </a>
        <div class="p-6">
          <a routerLink="/projects">
            <h5
              class="mt-3 mb-6 text-xl md:text-2xl lg:text-3xl font-semibold tracking-tight text-white"
            >
              Portfolio
            </h5>
          </a>
          <h3
            class="text-lg font-bold main-text-color text-md md:text-lg lg:text-xl"
          >
            My Personal Portfolio
          </h3>
          <p class="text-gray-500 text-sm md:text-base lg:text-lg mt-2 mb-4">
            Developed to showcase my skills in web development, my portfolio
            website exemplifies proficiency in technologies such as Angular,
            CSS, and Tailwind CSS.
          </p>
        </div>
        <div
          class="tools-images flex flex-row gap-4 justify-center items-center mb-6"
        >
          <img src="imags/icons8-html-64.png" alt="HTML" class="w-16" />

          <img src="imags/icons8-css-100.png" alt="css" class="w-16" />

          <img
            src="imags/icons8-typescript-48.png"
            alt="TypeScript"
            class="w-16"
          />

          <img src="imags/icons8-angular-48.png" alt="Angular" class="w-16" />
        </div>
      </div>

      <!-- card2 -->
      <div
        class="bg-gray-900 block max-w-lg border border-default rounded-lg shadow-xs overflow-hidden"
      >
        <a
          href="https://github.com/abdallasalman21/photoghrapher-portfolio"
          class="relative"
        >
          <div class="image bg-amber-950 flex justify-center items-center">
            <img
              class="rounded-lg bg-contain px-3 py-2"
              src="imags/port-ph.png"
              alt=""
            />
          </div>
        </a>
        <div class="p-6">
          <a href="https://github.com/abdallasalman21/photoghrapher-portfolio">
            <h5
              class="mt-3 mb-6 text-xl md:text-2xl lg:text-3xl font-semibold tracking-tight text-white"
            >
              photoghrapher Website
            </h5>
          </a>
          <h3
            class="text-lg font-bold main-text-color text-md md:text-lg lg:text-xl"
          >
            Personal website for a photographer
          </h3>
          <p class="text-gray-500 text-sm md:text-base lg:text-lg mt-2 mb-4">
            A responsive photography portfolio website built with HTML, CSS, and
            Angular, designed to showcase photography work and services with a
            modern user experience.
          </p>
        </div>
        <div
          class="tools-images flex flex-row gap-4 justify-center items-center mb-6"
        >
          <img src="imags/icons8-html-64.png" alt="HTML" class="w-16" />

          <img src="imags/icons8-css-100.png" alt="css" class="w-16" />

          <img
            src="imags/icons8-typescript-48.png"
            alt="TypeScript"
            class="w-16"
          />

          <img src="imags/icons8-angular-48.png" alt="Angular" class="w-16" />
        </div>
      </div>

      <!-- card3 -->
      <div
        class="bg-gray-900 block max-w-lg border border-default rounded-lg shadow-xs overflow-hidden"
      >
        <a
          href="https://github.com/abdallasalman21/wealthome-project"
          class="relative"
        >
          <div class="image bg-cyan-800 flex justify-center items-center">
            <img
              class="rounded-lg bg-contain px-3 py-2 xl:w-[473px] xl:h-[230px]"
              src="imags/wealthome.png"
              alt=""
            />
          </div>
        </a>
        <div class="p-6">
          <a href="https://github.com/abdallasalman21/wealthome-project">
            <h5
              class="mt-3 mb-6 text-xl md:text-2xl lg:text-3xl font-semibold tracking-tight text-white"
            >
              WealtHome
            </h5>
          </a>
          <h3
            class="text-lg font-bold main-text-color text-md md:text-lg lg:text-xl"
          >
            Landing Page
          </h3>
          <p class="text-gray-500 text-sm md:text-base lg:text-lg mt-2 mb-4">
            A responsive landing page for a financial services company, built
            with HTML, CSS, and JavaScript to present services and key offerings
            in a clear and engaging way.
          </p>
        </div>
        <div
          class="tools-images flex flex-row gap-4 justify-center items-center mb-6"
        >
          <img src="imags/icons8-html-64.png" alt="HTML" class="w-16" />

          <img src="imags/icons8-css-100.png" alt="css" class="w-16" />

          <img
            src="imags/icons8-javascript-48.png"
            alt="JavaScript"
            class="w-16"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- get in touch -->
  <section class="get-touch py-10 relative overflow-hidden">
    <div
      class="content main-bg flex flex-col md:flex-row justify-between items-center px-8 py-10 rounded-lg"
    >
      <div class="text-box">
        <h5
          class="text-5xl md:text-6xl lg:text-7xl xl:text-8xl humane-bold mb-6 lg:tracking-[-10px]"
        >
          Get in Touch
        </h5>
        <p
          class="text-sm md:text-md lg:text-lg xl:text-xl nunito-reg md:max-w-[70%]"
        >
          If you are interested in my work or want to provide feedback about
          this website, I am open to exchanging ideas .
        </p>
      </div>
      <div class="contact-buttons md:m-0 px-5">
        <h5
          class="text-xl md:text-2xl lg:text-3xl xl:text-4xl font-sans font-semibold mb-6 lg:tracking-[-2px]"
        >
          Follow me on
        </h5>
        <div class="links-icons flex gap-2 flex-row">
          <a href="https://www.instagram.com/by_rakii21/">
            <i
              class="fa-brands fa-instagram text-xl md:text-2xl lg:text-3xl xl:text-4xl"
            ></i>
          </a>

          <a
            href="https://www.linkedin.com/in/abdalla-salman-972259290/?skipRedirect=true"
          >
            <i
              class="fa-brands fa-linkedin text-xl md:text-2xl lg:text-3xl xl:text-4xl"
            ></i>
          </a>

          <a href="https://github.com/abdallasalman21">
            <i
              class="fa-brands fa-github text-xl md:text-2xl lg:text-3xl xl:text-4xl"
            ></i>
          </a>
        </div>
        <button class="py-7 text-nowrap"
         href="https://www.linkedin.com/in/abdalla-salman-972259290/"
            target="_blank"
            rel="noopener noreferrer">
          <a
           
            class="bg-transparent hover:bg-gray-900 hover-main-text-color cursor-pointer font-semibold py-3 px-6 rounded-xl text-lg md:text-xl lg:text-2xl xl:text-3xl mt-6 border border-gray-950 hover:border-transparent transition-all"
          >
            Contact Me
          </a>
        </button>
      </div>
    </div>
  </section>
</div>
