
  <footer>
    <div
      class="content bg-gray-900 rounded-lg px-10 py-7 flex flex-col md:flex-row justify-between items-center"
    >
      <div class="image-footer">
        <img src="imags/footerlink.png" alt="logo" class="w-32 h-32 md:w-36 md:h-36 lg:w-40 lg:h-40" />
      </div>
       <div class="footer-text pe-0 ms-auto text-right text-gray-500 ">
             <h5 class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold mb-2 human-bold ms-auto lg:max-w-[60%] lg:tracking-[-4px] leading-12 capitalize text-right ">
                Designing the <span class="main-text-color">
                    extraordinary
                </span> one <span class="main-text-color">
                    pixel
                </span> at a time.
            </h5>
            <p class="text-sm md:text-base lg:text-lg">
                
                Portfolio v1.0 © 2026 Rakii (Abdalla Salman)
            </p>
           </div>
    </div>
  </footer>

