<section class="py-20 overflow-hidden">
  <div class="text-center text-white bg-gray-950 py-16 rounded-lg">
    <h1
      class="text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-bold mb-4 humane-bold tracking-tight lg:tracking-[-8px]"
    >
      Projects
    </h1>
  </div>
</section>
<section class="projects py-10 overflow-hidden">
  <div class="content px-7">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 justify-items-center"
    >
      <!-- cards -->

      <!-- card1 -->
      <div
        class="card bg-gray-900 block max-w-lg border border-default rounded-lg shadow-xs overflow-hidden"
      >
        <a routerLink="/projects" class="relative">
          <div class="image main-bg flex justify-center items-center">
            <img
              class="rounded-lg bg-contain px-3 py-2"
              src="imags/portfolio-fr (2).png"
              alt=""
            />
          </div>
        </a>
        <div class="card-text p-6">
          <a routerLink="/projects">
            <h5
              class="mt-3 mb-6 text-xl md:text-2xl lg:text-3xl font-semibold tracking-tight text-white"
            >
              Portfolio
            </h5>
          </a>
          <h3
            class="text-lg font-bold main-text-color text-md md:text-lg lg:text-xl"
          >
            My Personal Portfolio
          </h3>
          <p class="text-gray-500 text-sm md:text-base lg:text-lg mt-2 mb-4">
            Developed to showcase my skills in web development, my portfolio
            website exemplifies proficiency in technologies such as Angular,
            CSS, and Tailwind CSS.
          </p>
        </div>
        <div
          class="tools-images flex flex-row gap-4 justify-center items-center mb-6"
        >
          <img src="imags/icons8-html-64.png" alt="HTML" class="w-16" />

          <img src="imags/icons8-css-100.png" alt="css" class="w-16" />

          <img
            src="imags/icons8-typescript-48.png"
            alt="TypeScript"
            class="w-16"
          />

          <img src="imags/icons8-angular-48.png" alt="Angular" class="w-16" />
          <img
            src="imags/icons8-tailwind-css-48.png"
            alt="Tailwind CSS"
            class="w-16"
          />
        </div>
      </div>

      <!-- card2 -->
      <div
        class="card bg-gray-900 block max-w-lg border border-default rounded-lg shadow-xs overflow-hidden"
      >
        <a
          href="https://github.com/abdallasalman21/photoghrapher-portfolio"
          class="relative"
        >
          <div class="image bg-amber-950 flex justify-center items-center">
            <img
              class="rounded-lg bg-contain px-3 py-2"
              src="imags/port-ph.png"
              alt=""
            />
          </div>
        </a>
        <div class="card-text p-6">
          <a href="https://github.com/abdallasalman21/photoghrapher-portfolio">
            <h5
              class="mt-3 mb-6 text-xl md:text-2xl lg:text-3xl font-semibold tracking-tight text-white"
            >
              photoghrapher Website
            </h5>
          </a>
          <h3
            class="text-lg font-bold main-text-color text-md md:text-lg lg:text-xl"
          >
            Personal website for a photographer
          </h3>
          <p class="text-gray-500 text-sm md:text-base lg:text-lg mt-2 mb-4">
            A responsive photography portfolio website built with HTML, CSS, and
            Angular, designed to showcase photography work and services with a
            modern user experience.
          </p>
        </div>
        <div
          class="tools-images flex flex-row gap-4 justify-center items-center mb-6"
        >
          <img src="imags/icons8-html-64.png" alt="HTML" class="w-16" />

          <img src="imags/icons8-css-100.png" alt="css" class="w-16" />

          <img
            src="imags/icons8-typescript-48.png"
            alt="TypeScript"
            class="w-16"
          />

          <img src="imags/icons8-angular-48.png" alt="Angular" class="w-16" />
          <img
            src="imags/icons8-tailwind-css-48.png"
            alt="Tailwind CSS"
            class="w-16"
          />
        </div>
      </div>

      <!-- card3 -->
      <div
        class="card bg-gray-900 block max-w-lg border border-default rounded-lg shadow-xs overflow-hidden"
      >
        <a
          href="https://github.com/abdallasalman21/wealthome-project"
          class="relative"
        >
          <div class="image bg-cyan-800 flex justify-center items-center">
            <img
              class="rounded-lg bg-contain px-3 py-2 xl:w-[473px] xl:h-[230px]"
              src="imags/wealthome.png"
              alt=""
            />
          </div>
        </a>
        <div class="card-text p-6">
          <a href="https://github.com/abdallasalman21/wealthome-project">
            <h5
              class="mt-3 mb-6 text-xl md:text-2xl lg:text-3xl font-semibold tracking-tight text-white"
            >
              WealtHome
            </h5>
          </a>
          <h3
            class="text-lg font-bold main-text-color text-md md:text-lg lg:text-xl"
          >
            Landing Page
          </h3>
          <p class="text-gray-500 text-sm md:text-base lg:text-lg mt-2 mb-4">
            A responsive landing page for a financial services company, built
            with HTML, CSS, and JavaScript to present services and key offerings
            in a clear and engaging way.
          </p>
        </div>
        <div
          class="tools-images flex flex-row gap-4 justify-center items-center mb-6"
        >
          <img src="imags/icons8-html-64.png" alt="HTML" class="w-16" />

          <img src="imags/icons8-css-100.png" alt="css" class="w-16" />

          <img
            src="imags/icons8-javascript-48.png"
            alt="JavaScript"
            class="w-16"
          />
          <img
            src="imags/icons8-bootstrap-48.png"
            alt="Bootstrap"
            class="w-16"
          />
        </div>
      </div>

      <!-- card4 -->
      <div
        class="card bg-gray-900 block max-w-lg border border-default rounded-lg shadow-xs overflow-hidden"
      >
        <a
          href="https://github.com/abdallasalman21/wealthome-project"
          class="relative"
        >
          <div class="image bg-red-950 flex justify-center items-center">
            <img
              class="rounded-lg bg-contain px-3 py-2 xl:w-[473px] xl:h-[230px]"
              src="../imags/landingjs.png"
              alt=""
            />
          </div>
        </a>
        <div class="card-text p-6">
          <a href="https://github.com/abdallasalman21/js-page">
            <h5
              class="mt-3 mb-6 text-xl md:text-2xl lg:text-3xl font-semibold tracking-tight text-white"
            >
              landing Page
            </h5>
          </a>
          <h3
            class="text-lg font-bold main-text-color text-md md:text-lg lg:text-xl"
          >
            landing Page with dynamic background & colors
          </h3>
          <p class="text-gray-500 text-sm md:text-base lg:text-lg mt-2 mb-4">
            A responsive landing page for a website, built with HTML, CSS, and
            JavaScript and includes a dynamic background that changes based on
            the time of day, as well as interactive color themes that users can
            toggle for a personalized browsing experience.
          </p>
        </div>
        <div
          class="tools-images flex flex-row gap-4 justify-center items-center mb-6"
        >
          <img src="imags/icons8-html-64.png" alt="HTML" class="w-16" />

          <img src="imags/icons8-css-100.png" alt="css" class="w-16" />

          <img
            src="imags/icons8-javascript-48.png"
            alt="JavaScript"
            class="w-16"
          />
          <img
            src="imags/icons8-bootstrap-48.png"
            alt="Bootstrap"
            class="w-16"
          />
        </div>
      </div>

      <!-- card5 -->
      <div
        class="card bg-gray-900 block max-w-lg border border-default rounded-lg shadow-xs overflow-hidden"
      >
        <a href="https://github.com/abdallasalman21/ecommerce" class="relative">
          <div class="image bg-amber-50 flex justify-center items-center">
            <img
              class="rounded-lg bg-contain px-3 py-2 xl:w-[473px] xl:h-[230px]"
              src="../imags/ecomerce.png"
              alt=""
            />
          </div>
        </a>
        <div class="card-text p-6">
          <a href="https://github.com/abdallasalman21/ecommerce">
            <h5
              class="mt-3 mb-6 text-xl md:text-2xl lg:text-3xl font-semibold tracking-tight text-white"
            >
              Frech Cart
            </h5>
          </a>
          <h3
            class="text-lg font-bold main-text-color text-md md:text-lg lg:text-xl"
          >
            E-commerce Website
          </h3>
          <p class="text-gray-500 text-sm md:text-base lg:text-lg mt-2 mb-4">
            e-commerce website built with HTML, CSS, and ANGULAR, designed to
            provide a seamless online shopping experience, featuring a
            user-friendly interface for browsing products, adding items to a
            shopping cart, and completing purchases with a secure checkout
            process.
          </p>
        </div>
        <div
          class="tools-images flex flex-row gap-4 justify-center items-center mb-6"
        >
          <img src="imags/icons8-html-64.png" alt="HTML" class="w-16" />

          <img src="imags/icons8-css-100.png" alt="css" class="w-16" />

          <img src="imags/icons8-angular-48.png" alt="Angular" class="w-16" />

          <img
            src="imags/icons8-tailwind-css-48.png"
            alt="Tailwind CSS"
            class="w-16"
          />
        </div>
      </div>

      <!-- card6 -->
      <div
        class="card bg-gray-900 block max-w-lg border border-default rounded-lg shadow-xs overflow-hidden"
      >
        <a href="https://github.com/abdallasalman21/ecommerce" class="relative">
          <div class="image bg-gray-800 flex justify-center items-center">
            <img
              class="rounded-lg bg-contain px-3 py-2 xl:w-[473px] xl:h-[230px]"
              src="imags/photoghraphy-from-figma.png"
              alt=""
            />
          </div>
        </a>
        <div class="card-text p-6">
          <a
            href="https://github.com/abdallasalman21/photoghraphy-page-from-figma-design-"
          >
            <h5
              class="mt-3 mb-6 text-xl md:text-2xl lg:text-3xl font-semibold tracking-tight text-white"
            >
              Photoghraphy Website 
            </h5>
          </a>
          <h3
            class="text-lg font-bold main-text-color text-md md:text-lg lg:text-xl"
          >
            Photography Website from Figma design
          </h3>
          <p class="text-gray-500 text-sm md:text-base lg:text-lg mt-2 mb-4">
            Photography portfolio website built with HTML, CSS, and JavaScript,
            designed to replicate a Figma design and showcase photography work
            with a modern and visually appealing user experience.
          </p>
        </div>
        <div
          class="tools-images flex flex-row gap-4 justify-center items-center mb-6"
        >
          <img src="imags/icons8-html-64.png" alt="HTML" class="w-16" />

          <img src="imags/icons8-css-100.png" alt="css" class="w-16" />

          <img
            src="imags/icons8-javascript-48.png"
            alt="JavaScript"
            class="w-16"
          />

          <img
            src="imags/icons8-tailwind-css-48.png"
            alt="Tailwind CSS"
            class="w-16"
          />
        </div>
      </div>


         <!-- card7 -->
      <div
        class="card bg-gray-900 block max-w-lg border border-default rounded-lg shadow-xs overflow-hidden"
      >
        <a href="https://github.com/abdallasalman21/ecommerce" class="relative">
          <div class="image bg-green-800 flex justify-center items-center">
            <img
              class="rounded-lg bg-contain px-3 py-2 xl:w-[473px] xl:h-[230px]"
              src="imags/edulanding.png"
              alt=""
            />
          </div>
        </a>
        <div class="card-text p-6">
          <a
            href="https://github.com/abdallasalman21/education-page"
          >
            <h5
              class="mt-3 mb-6 text-xl md:text-2xl lg:text-3xl font-semibold tracking-tight text-white"
            >
              Education Website 
            </h5>
          </a>
          <h3
            class="text-lg font-bold main-text-color text-md md:text-lg lg:text-xl"
          >
            Education Website from Figma design
          </h3>
          <p class="text-gray-500 text-sm md:text-base lg:text-lg mt-2 mb-4">
            Education portfolio website built with HTML, Sass, and JavaScript,
            designed to replicate a Figma design and showcase educational work
            with a modern and visually appealing user experience.
          </p>
        </div>
        <div
          class="tools-images flex flex-row gap-4 justify-center items-center mb-6"
        >
          <img src="imags/icons8-html-64.png" alt="HTML" class="w-16" />

          <img src="imags/icons8-sass-avatar-48.png" alt="Sass" class="w-16" />

          <img
            src="imags/icons8-javascript-48.png"
            alt="JavaScript"
            class="w-16"
          />

          <img
            src="imags/icons8-tailwind-css-48.png"
            alt="Tailwind CSS"
            class="w-16"
          />
        </div>
      </div>
    </div>
  </div>
</section>
