<section class="py-20 overflow-hidden">
  <div class="text-center text-white bg-gray-950 py-16 rounded-lg">
    <h1
     data-aos="fade-left"
      data-aos-delay="200"
      class="text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-bold mb-4 humane-bold md:tracking-[-6px] xl:tracking-[-8px] tracking-tight"
    >
      About Me
    </h1>
  </div>
</section>

<section class="py-10 overflow-hidden relative">
  <div
    class="about-content flex flex-col md:flex-row justify-between lg:gap-28 gap-10 h-full w-full py-16"
  >
    <div
      class="about-image relative z-10 left-0 lg:left-10 top-0 flex items-center justify-center"
    >
      <img
        data-aos="fade-left"
        data-aos-delay="0"
        src="imags/about-bg-image.svg"
        class="object-cover w-[600px] h-[600px] md:w-[800px] md:h-[800px] lg:w-[1200px] lg:h-[1200px] absolute top-1/2 transform -translate-y-1/2 -z-1"
        alt="About Background Image"
      />
      <img
        data-aos="zoom-out"
        data-aos-delay="600"
        src="imags/me.JPG"
        class="object-cover w-[300px] h-[300px] md:w-[400px] md:h-[400px] lg:w-[500px] lg:h-[500px] rounded-full"
        alt="Profile Image"
      />
    </div>
    <div
      class="about-text flex flex-col px-5 flex-1 gap-10 text-white items-center justify-center"
    >
      <p
        data-aos="fade-right"
        data-aos-delay="800"
        class="text-md md:text-lg lg:text-xl xl:text-2xl lg:leading-11 leading-8 float-right px-7 font-sans"
      >
        I'm a passionate Front-End Developer specializing in creating responsive
        and engaging web experiences using HTML, CSS, JavaScript, Bootstrap, and
        Angular. I enjoy turning ideas into modern, user-friendly interfaces
        while focusing on clean code, performance, and great user experience. My
        background in Mathematics and Computer Science, combined with my
        creative experience in photography, helps me build websites that are
        both functional and visually appealing.
      </p>

      <button
        data-aos="zoom-out"
        data-aos-delay="600"
        class="mt-8 px-6 py-3 block me-auto items-center justify-center main-bg text-purple-900 rounded-lg hover:bg-white hover:text-purple-800 hover:border hover:border-purple-800 transition duration-300"
      >
        <a href="abdalla-salman-CV.pdf" download="abdalla-salman-CV.pdf">
          Download CV
        </a>
      </button>
    </div>
  </div>
</section>
<!-- skills -->
<section class="skills py-10 overflow-hidden">
  <div
    class="skills-content flex px-10 py-16 rounded-lg relative flex-col items-center justify-center"
  >
    <h1
     data-aos="fade-left"
      data-aos-delay="200"
      class="text-3xl md:text-4xl lg:text-5xl tracking-[-1px] humane-bold text-white px-10 py-10"
    >
      My Skills
    </h1>
    <!-- swiper -->

    <div 
    data-aos="fade-right"
    data-aos-delay="100"
    class="my-swiper mx-auto py-10 justify-center ">
      <div class="swiper w-[100%]">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide w-auto">
            <img
              class="w-20 h-20 md:w-24 md:h-24 lg:w-26 lg:h-26"
              src="imags/icons8-html-48.png"
              alt="html"
            />
          </div>
          <div class="swiper-slide w-auto">
            <img
              class="w-20 h-20 md:w-24 md:h-24 lg:w-26 lg:h-26"
              src="imags/icons8-css-48.png"
              alt="css"
            />
          </div>
          <div class="swiper-slide w-auto">
            <img
              class="w-20 h-20 md:w-24 md:h-24 lg:w-26 lg:h-26"
              src="imags/icons8-javascript-48.png"
              alt="javascript"
            />
          </div>
          <div class="swiper-slide w-auto">
            <img
              class="w-20 h-20 md:w-24 md:h-24 lg:w-26 lg:h-26"
              src="imags/icons8-angular-48.png"
              alt="angular"
            />
          </div>
          <div class="swiper-slide w-auto">
            <img
              class="w-20 h-20 md:w-24 md:h-24 lg:w-26 lg:h-26"
              src="imags/icons8-typescript-48.png"
              alt="typescript"
            />
          </div>
          <div class="swiper-slide w-auto">
            <img
              class="w-20 h-20 md:w-24 md:h-24 lg:w-26 lg:h-26"
              src="imags/icons8-sass-avatar-48.png"
              alt="sass css"
            />
          </div>

          <div class="swiper-slide w-auto">
            <img
              class="w-20 h-20 md:w-24 md:h-24 lg:w-26 lg:h-26"
              src="imags/icons8-tailwind-css-48.png"
              alt="tailwind css"
            />
          </div>

          <div class="swiper-slide w-auto">
            <img
              class="w-20 h-20 md:w-24 md:h-24 lg:w-26 lg:h-26"
              src="imags/icons8-bootstrap-48.png"
              alt="bootstrap"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
</section>
